form {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 0 auto;

    label {
        border: red 1px solid; 
        font-size: 1.7rem;
        padding-bottom: .5rem;
        
    }

    input {
        border: dashed 1px blue; 
    }
    
}